body {
    background: url("../images/concrete.png");
    max-height: 100%;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#nav-bar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #800000;
    width: 100%;
    opacity: .95;
}

#links {
    float: right;
    font-size: 16px;
    background-color: #800000;
    margin-right: 10%;
}

#link {
    color: white;
    padding-left: 15px;
    line-height: 60px;
    position: relative;
}

h1 {
    background-color: #000080;
    color: white;
    padding: 15px;
    margin-left: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 60px;
    width: 220px;
    float: left;
    font-size: 30px;
    line-height: 90px;
    z-index: 2;
}

h2 {
    color: #000080;
    font-size: 26px;
    padding-top: 25px;
    border-bottom: 5px solid #000080;
    padding-bottom: 10px;
    width: 960px;
    margin-right: 10%;
    font-style: italic;
}

#photo {
    height: 200px;
    width: 265px;
    text-align: left;
    box-shadow: 10px 10px 5px lightgrey;
    float: left;
    margin-right: 25px;
}

.about_me {
    width: 960px;
    padding-top: 5px;
    margin-bottom: 30px;
}

footer {
    background-color: #800000;
    color: white;
    text-align: center;
    height: 20px;
    line-height: 20px;
    flex-shrink: 0;
    font-size: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    opacity: .95;
}

/* Specific to Portfolio Page below*/

#button1 {
    color: white;
    border: none;
    width: 206px;
    height: 25px;
    font-size: 16px;
    z-index: 2;
    background-color: darkblue; 
}
.container1 {
    position: relative;
    float: left;
}
.container1 #button1 {
    position: absolute;
    cursor: pointer;
}
#tracker_img {
    box-shadow: 10px 10px 5px lightgrey;
    border: 3px solid darkslategrey;
}
#button1:hover {
    background-color: #800000;
}

/* button 2 area */

#button2 {
    color: white;
    border: none;
    width: 206px;
    height: 25px;
    font-size: 16px;
    z-index: 2;
    background-color: darkblue;
    margin-left: 25px;
}
.container2 {
    position: relative;
    float: left;
}
.container2 #button2 {
    position: absolute;
    cursor: pointer;
}
#police_img {
    box-shadow: 10px 10px 5px lightgrey;
    border: 3px solid darkslategrey;
    margin-left: 25px;
}
#button2:hover {
    background-color: #800000;
}

/* button 3 area */

#button3 {
    color: white;
    border: none;
    width: 206px;
    height: 25px;
    font-size: 16px;
    z-index: 2;
    background-color: darkblue;
    margin-left: 25px;
}
.container3 {
    position: relative;
    float: left;
}
.container3 #button3 {
    position: absolute;
    cursor: pointer;
}
#ticket_img {
    box-shadow: 10px 10px 5px lightgrey;
    border: 3px solid darkslategrey;
    margin-left: 25px;
}
#button3:hover {
    background-color: #800000;
}

/* Connect Page Style below here */



